.BubbleContainer{
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: smaller;


    display: flex;
}




.rightSide{

    margin-left: auto;
    margin-right: 5px;
    flex-direction: row;
        
}

.leftSide{

    margin-left: 5px;
    margin-right: auto;
    flex-direction: row-reverse;

}




.bubbleTextContainer{

    background-color: #d2d2d2;
    width: 100%;
    padding: 12px;
    border-radius: 15px;
}




.BubbleUsername {
    font-size: smaller;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}



.blueColor{

    background-color: #4592eb;

}


.greyColor{

    background-color: #c5c5c5;

}